<!-- .chat сам чат -->
<div class="chat">

    <div class="user-info">
        <!--
            к .name при сворачивание .sidebar добавляется доп класс .__smallname для регулировки размера шрифта
            Это заметно если открыть панель разработчика в браузере и изменить width на 885 и меньшн
        -->
        <div class="name">Имя Аккаунта</div> 
            <!-- .last-msg при сворачивание .sidebar скрывается с помощью js при width 885 и меньше -->
            <div class="last-msg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim asperiores perspiciatis  </div>
        </div>
                
        <!-- .new-msg сама точка нового сообщения -->
        <div class="new-msg"></div>
</div>