$bg: #e4e0e0;

$whiteblue: #2ea7ee; 
$decoritem: #ff0000;
$labelcolor: #bcc2f7;
$btncolor: #e4e0e0;

$red: #ee2e68;

$bgsidebar: #59ade6;
$text: #fff;
$chat: #5c8cd4;
$lastmsg: #4ebeb0;

$maincolor: #59abee;
$chatbg: rgb(163, 207, 228);
$msginfo: #8fabd6;
$inputmsg: #458ad8;

$mebg: #ffffff;
$mebor: darken($mebg, 30%);

$otherbg: #83f3ae;
$otherbor: darken($mebg, 35%);

