
@media only screen and (max-width: 1270px) {
    
    .sidebar .chat .new-msg {
        margin-right: 10px;
    }

}

@media screen and (max-width:1150px) {
    form {
        width: 700px;
        height: 85%;
    }

    .main-form {
        .setinfo {
            label {
                font-size: 25px;
            }
        }
        button {
            width: 195px;
            height: 65px;
            font-size: 30px;
        }
    }

    .msgs .message {
        width: 49%;
    }
}


@media only screen and (max-width: 992px) {
    
    form {
        width: 600px;
        height: 80%;
    }

    .sidebar .chat .new-msg {
        width: 20px;
        height: 20px;
    }

    .sidebar .chat .user-info .last-msg {
        width: 170px;
    }

    .msgs .message {
        width: 50%;
    }
}

@media only screen and (max-width: 915px) {
    
    .sidebar .chat .new-msg {
        margin-right: 5px;
    }



    .sidebar {

    }



}




@media only screen and (max-width: 885px) {
    
    .sidebar .chat .new-msg {
        width: 10px;
        height: 10px;
    }
    .msgs .message {
        font-size: 14px;
    }
}

@media only screen and (max-width: 810px) {

    form {
        width: 500;
        height: 75%;
    }
    .main-form {
        .setinfo {
            label {
                font-size: 23px;
            }
        }
        button {
            width: 190px;
            height: 60px;
            font-size: 30px;
        }
    }
    .msgs .message {
        width: 60%;
    }
}

@media only screen and (max-width: 790px) {

    form {
        width: 480px;
        height: 70%;
    }
    .main-form {
        .setinfo {
            input {
                width: 220px;
            }
        }
    }
}

@media only screen and (max-width: 665px) {

    form {
        width: 450px;
        height: 70%;
    }
    .main-form {
        .setinfo {
            input {
                width: 220px;
            }
        }
    }
    .form-left-decoration {
        &:after {
            left: -20px;
            width: 70px;
        }        
    }

}

@media only screen and (max-width: 585px) {

    form {
        width: 400px;
        height: 65%;
    }

    .main-form {
        .setinfo {
            input {
                width: 180px;
            }
        }
        button {
            width: 140px;
            height: 50px;
            font-size: 20px;
        }
    }

}

@media only screen and (max-width: 505px) {

    form {
        width: 350px;
        height: 60%;
    }

    .main-form {
        .setinfo {
            input {
                width: 150px;
                height: 35px;
            }
        }
        button {
            width: 130px;
            height: 45px;
            font-size: 20px;
        }
    }

}


@media only screen and (max-width: 465px) {

    form {
        width: 300px;
        height: 50%;
    }

    .main-form {
        .setinfo {
            input {
                margin-top: 5px;
                width: 150px;
            }
        }
        button {
            width: 130px;
            height: 45px;
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 420px) {
    form {
        width: 250px;
        height: 45%;
    }

    .main-form {
        .setinfo {
            input {
                width: 120px;
            }
        }
        button {
            width: 120px;
            height: 40px;
            font-size: 17px;
        }
    }
}

@media only screen and (max-width: 375px) {
    form {
        width: 220px;
        height: 40%;
    }

    .main-form {
        .setinfo {
            label {
                font-size: 15px;
            }
            input {
                width: 100px;
            }
        }
        button {
            width: 100px;
            height: 40px;
            font-size: 14px;
        }
    }
    .form-left-decoration {
        &::after {
            left: 10px;
        }
    }
    .form-right-decoration {
        &::after {
            right: 10px;
            width: 40px;
        }
    }
}