@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #161616;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.signin {

  width: 650px;
  height: 650px;

  border: 4px #363636 solid;
  border-radius: 10px;
}