
/* В index.html в основном уменьшается размер формы и её элементы */


/* доп класс который добавляется с помощью js

  .__close  (уменьшает width элемента)
  .__open   (увеличивает width элемента)

  .__smallname  ( применяется при закрытие .sidebar)
*/


@media only screen and (max-width: 1270px) {
  .sidebar .chat .new-msg {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1150px) {
  form {
    width: 700px;
    height: 85%;
  }
  .main-form .setinfo label {
    font-size: 25px;
  }
  .main-form button {
    width: 195px;
    height: 65px;
    font-size: 30px;
  }
  /* немного увеличиваем длину сообщений */
  .msgs .message {
    width: 49%;
  }
}

@media only screen and (max-width: 992px) {
  form {
    width: 600px;
    height: 80%;
  }

  /* уменьшаем кружочек .new-msg */
  .sidebar .chat .new-msg {
    width: 20px;
    height: 20px;
  }
  /* уменьшаем "последнее сообщение" .last-msg */
  .sidebar .chat .user-info .last-msg {
    width: 170px;
  }
  /* увеличиваем длину сообщений */
  .msgs .message {
    width: 50%;
  }
}

@media only screen and (max-width: 915px) {
  /* добавляем небольшой отступ для будущего */
  .sidebar .chat .new-msg {
    margin-right: 5px;
  }
}

/* Переходим на мобильную версию */

@media only screen and (max-width: 885px) {

  /* увелисиваем .sidebar до 90% . Чтоб при заходе на сайт мы увидели список чатов */
  .sidebar {
    width: 90%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  /* .messanger уменьшаем до 10% при первом ззапуске сайта */
  .messanger {
    width: 10%;
  }

  /* доп класс для скрытия */
  .__close {
    width: 13%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  /* доп класс для открытия */
  .__open {
    width: 87%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  /* уменьшаем имя при закрытие .sidebar */
  .__smallname {
    font-size: 12px;
    white-space: pre-line;
  }

  /* Появления блока для отступа .navpanel */
  .null {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* уменшаем внитринеи отступы у .main */
  .messanger .main {
    padding: 10px;
    display: none;
  }

  /* уменьшаем кружок */
  .sidebar .chat .new-msg {
    width: 10px;
    height: 10px;
  }

  /* уменьшаем текст у сообщений */
  .msgs .message {
    font-size: 14px;
  }

  /* увеличиваем длину сообщений */
  .msgs .message {
    width: 60%;
  }

  /* появление .navpanel и переносим её на слой 999 чтоб она была поверх всех элементов */
  .navpanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
    position: fixed;
    margin-bottom: 10px;
  }
  /* появление стрелки в панели */
  .navpanel .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 810px) {
  form {
    width: 500;
    height: 75%;
  }
  .main-form .setinfo label {
    font-size: 23px;
  }
  .main-form button {
    width: 190px;
    height: 60px;
    font-size: 30px;
  }

  /* изменяем доп класс , чтоб он уменьшал width до 9% */
  .__close {
    width: 9%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  /* изменяем доп класс для открытия */
  .__open {
    width: 91%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  /* уменьшаем имя при закрытом .sidebar  */
  .__smallname {
    font-size: 10px;
    white-space: pre-line;
  }

   /* увеличиваем блок с чатом */
  .messanger .main {
    width: 95%;
  }
}


@media only screen and (max-width: 790px) {
  form {
    width: 480px;
    height: 70%;
  }
  .main-form .setinfo input {
    width: 220px;
  }
}

@media only screen and (max-width: 745px) {
  /* изменяем доп класс закрытия */
  .__close {
    width: 7%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  /* изменяем доп класс открытия */
  .__open {
    width: 95%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  /* уменьшаем текст при закрытов .sidebar */
  .__smallname {
    font-size: 8px;
    white-space: pre-line;
  }
}

@media only screen and (max-width: 665px) {
  form {
    width: 450px;
    height: 70%;
  }
  .main-form .setinfo input {
    width: 220px;
  }

  /* изменения декоративных блоков в index.html */
  .form-left-decoration:after {
    left: -20px;
    width: 70px;
  }

  /* увеличиваем длину сообщений в chat.html */
  .msgs .message {
    width: 70%;
  }
}

@media only screen and (max-width: 635px) {
  .__smallname {
    display: none;
  }
  .__close {
    width: 4%;
  }
  .__open {
    width: 97%;
  }
  /* делаем отрицательный отступ чтобы стрелка не в панели не была прижата к левому краю */
  .navpanel {
    margin-right: -12px;
  }
}

@media only screen and (max-width: 585px) {
  form {
    width: 400px;
    height: 65%;
  }
  .main-form .setinfo input {
    width: 180px;
  }
  .main-form button {
    width: 140px;
    height: 50px;
    font-size: 20px;
  }
  /* увеличиваем длину сообщения  */
  .msgs .message {
    width: 80%;
  }
}

@media only screen and (max-width: 505px) {
  form {
    width: 350px;
    height: 60%;
  }
  .main-form .setinfo input {
    width: 150px;
    height: 35px;
  }
  .main-form button {
    width: 130px;
    height: 45px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 465px) {
  form {
    width: 300px;
    height: 50%;
  }
  .main-form .setinfo input {
    margin-top: 5px;
    width: 150px;
  }
  .main-form button {
    width: 130px;
    height: 45px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 420px) {
  form {
    width: 250px;
    height: 45%;
  }
  .main-form .setinfo input {
    width: 120px;
  }
  .main-form button {
    width: 120px;
    height: 40px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 375px) {
  form {
    width: 220px;
    height: 40%;
  }
  .main-form .setinfo label {
    font-size: 15px;
  }
  .main-form .setinfo input {
    width: 100px;
  }
  .main-form button {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .form-left-decoration::after {
    left: 10px;
  }
  .form-right-decoration::after {
    right: 10px;
    width: 40px;
  }
}