<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/adapt.css">
    <title>MessageCenter</title>
</head>

<body>
    <div class="wrapper __center">
        <form action="">
            <!-- Декоративные элементы -->
            <div class="form-right-decoration"></div>
            <div class="form-left-decoration"></div>
            <div class="circle"></div>
            <!-- --------------------- -->
            <div class="main-form">
                <div class="setinfo">
                    <label class="psw-text">Пароль</label>
                    <input name="password" type="password" >
                </div>
                <button>Войти</button>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="secret" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io();
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
        </script>
</body>
</html>