<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS TEST</title>
</head>
<body>
    <style>
        .main {
            display: flex;
        }

        .data {
            width: 400px;
            height: 700px;
            border: 1px solid black;
        }
        .sendData {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 700px;
            border: 1px solid black;
        }
    </style>


    <h1>TEST WS PROTOCOL</h1>

        <div class="main">
            <div class="data">
                Полученные данные: 
            </div>
            <div class="sendData">
                <textarea name="" id="" cols="30" rows="10" placeholder="Введите сообщение"></textarea>
                <br>
                <button>Отправить</button>
            </div>
        </div>

    <script src="../static/js/websocket.js"></script>
</body>
</html>